<%- include ../layouts/header %>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >

    <% data.forEach(function(message){ %>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"> <%- message._source.rpname %> :</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class=" col-md-9 col-lg-9 "> 
              <table class="table table-user-information">                 
                <% message.highlight.rptext.forEach(function(item){ %>
                  <tbody>
                  <ul>
                    <tr>
                      <td><li><%-item%></li></td>
                    </tr>
                  </ul>
                  </tbody>
                <%    })  %>
              </table>
            </div>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>
 <%- include ../layouts/footer %>