<html lang="en">

   <%- include layouts/header %>
   <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Welcome</h1>
        <p>Currently this is shit and we know that well!</p>
        <p>
          <a class="btn btn-lg btn-primary" href="/rpc/collections" role="button">Search Your Paper »</a>
        </p>
      </div>
      <h3>Getting Started</h3>
      <p>
        <ul>
          <li>You need to first Upload your Paper in the tab "Upload Research Paper"</li>
          <li>After this, if it is successful, You can see your Paper in "Your Uploads" tab</li>
          <li>If your paper is present, then it is ready to be Searched</li>
          <li>We have used ElasticSearch for more accurate results in your searches </li>
        </ul>
      </p>
    <%- include layouts/footer %>