<html lang="en">

   <%- include layouts/header %>
   <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Welcome</h1>
        <p>Currently this is shit</p>
        <p>
          <a class="btn btn-lg btn-primary" href="/home/profile" role="button">Profile view »</a>
        </p>
      </div>
      <p>Few Bugs
        <ul>
          <li>Unable to set username in user table unique. Its simple but my laptop got issues with mysql</li>
          <li></li>
        </ul>
      </p>
    <%- include layouts/footer %>